{% extends 'base-template.html' %}
{% load static %}
{% block page_content %}

    <section id="hotel-details">
        <h1>Детайли на профила : {{ profile }}</h1>
        <div class="info-section-profile">
            <div class="hotel-header">
                {% if not profile.profile_picture %}
                    <img class="hotel-img" src="{% static 'images/default-profile.jpg' %}" alt='profile-image'/>
                {% else %}
                    <img class="hotel-img" src="{{ profile.profile_picture.url }}" alt='profile-image'/>
                {% endif %}

                <h1>Име: {{ profile.get_full_name }}</h1>
                {% if request.user.is_staff %}
                    <h1>Админ</h1>
                {% endif %}

                <p><span class="type">Имейл: {{ profile.email }}</span></p>

                <p><span class="type">Брой на резервациите: {{ hotels }}</span></p>
                <p><span class="type">Обща стойност на резрвациите: {{ price }} лв</span></p>

                <p><span class="type">Брой на мойте хотели: {{ numb_of_hotels }}</span></p>
                {% if numb_of_reserve %}
                    <p><span class="type">Брой резервации за мойте хотели: {{ numb_of_reserve }}</span></p>
                {% endif %}
            </div>

            <p class="description">Резервации:<a href="{% url 'user reservation' pk=request.user.pk %}">Преглед на
                резервациите</a></p>

            <div class="buttons">
                <a href="{% url 'profile edit' pk=request.user.pk %}" class="button">Редактиране на профила</a>
                <a href="{% url 'profile delete' pk=request.user.pk %}" class="button">Изтриване на профила</a>
            </div>
        </div>
    </section>

{% endblock %}