{% extends 'base-template.html' %}
{% block page_content %}
    <section id="hotel-details">
        <h1>Резервирай: {{ reservationmodel.attached_hotel.hotel_name }}</h1>
        <div class="info-section">
            <div class="hotel-header">
                <img class="hotel-img"
                     src="{{ reservationmodel.attached_hotel.hotel_picture.url }}"
                     alt='hotel image'/>
                <h1>Име: {{ reservationmodel.attached_hotel.hotel_name }}<span
                        class="stars">Звезди: {{ reservationmodel.attached_hotel.stars }}</span></h1>

                <p><span class="type">Локация: {{ reservationmodel.attached_hotel.location }}</span></p>

                <p><span
                        class="type">Цена на нощувка: {{ reservationmodel.attached_hotel.price|floatformat:2 }}лв</span>
                </p>
            </div>
            <p class="text">
                {{ reservationmodel.attached_hotel.description }}
            </p>
            <form class="register-form" method="post"
                  action="{% url 'change reservation' pk=reservationmodel.pk %}">
                {{ form.as_p }}
                {% csrf_token %}
                <h1>Текуща цена нарезервацията: {{ reservationmodel.total_price|floatformat:2 }}</h1>
                <h1>Финална цена: <span id="final-price"></span></h1>

                <script>
                    document.addEventListener('DOMContentLoaded', () => {
                        const daysInput = document.querySelector('#id_days');
                        const choicesInput = document.querySelector('#id_choices');
                        const finalPriceElement = document.querySelector('#final-price');
                        const totalPriceInput = document.querySelector('#id_total_price');

                        const hotelPrice = parseFloat('{{ reservationmodel.attached_hotel.price }}');

                        const updateFinalPrice = () => {
                            const days = parseInt(daysInput.value, 10);
                            const choice = choicesInput.value;
                            let finalPrice = 0;
                            if (days && choice === 'All inclusive') {
                                finalPrice = hotelPrice * days * 1.2;
                            } else if (days) {
                                finalPrice = hotelPrice * days;
                            }

                            finalPriceElement.textContent = finalPrice.toFixed(2);
                            totalPriceInput.value = finalPrice.toFixed(2);
                        };

                        daysInput.addEventListener('input', updateFinalPrice);
                        choicesInput.addEventListener('change', updateFinalPrice);
                        updateFinalPrice();
                    });
                </script>
                <button class="button" type="submit">Промени</button>
            </form>


        </div>
    </section>



{% endblock %}
