{% extends 'base-template.html' %}
{% block page_content %}
    <main class="about-us">
        <h2>За нас</h2>
        <p>Ние сме водещата компания в областта на резервациите и настаняването. Нашата цел е да предоставим на
            клиентите безпроблемни и удобни услуги за резервации, които отговарят на техните нужди и предпочитания.</p>
        <p>С нас можете да откриете най-добрите обекти за настаняване във всяка дестинация. Разполагаме с голям каталог
            от хотели, вили, апартаменти и други видове настаняване, които могат да задоволят различни бюджети и
            предпочитания.</p>
        <p>Екипът ни се гордее с висококачественото обслужване и персонално внимание към всеки клиент. Нашата мисия е да
            направим вашия престой незабравим и приятен.</p>
    </main>

{% endblock %}