<form method="GET" action="{% url 'search' %}">
    <label for="stars">Филтър по звезди:</label>
    <select name="stars" id="stars">
        <option value="">Изберете брой звезди</option>
        <option value="1">1 звезда</option>
        <option value="2">2 звезди</option>
        <option value="3">3 звезди</option>
        <option value="4">4 звезди</option>
        <option value="5">5 звезди</option>
    </select>
    <label for="location">Филтър по локация:</label>
    <input type="text" name="location" id="location" placeholder="Локация"/>
    <button type="submit">Търси</button>
</form>